.container {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 90px;
    width: 100%;
    background-image: linear-gradient(to bottom, #222222, #181818);
    color: rgb(209, 209, 209);
    border-bottom: 3px solid rgb(163, 87, 0);
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin-top: 10px;
}

.panel {
    background-image: url(../imagens/background-textura-2.png);
    background-size: cover;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 84vh;
}

div#primeiro {border-radius: 20px 0px 0px 0px;}
div#terceiro {border-radius: 0px 0px 0px 20px;}
div#setimo {border-radius: 0px 20px 0px 0px;}
div#nono {border-radius: 0px 0px 20px 0px;}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #ff9e9e;
    background-color: rgb(129, 47, 0);
}

.enemy {
    background-image: url(../imagens/nezuko-3.png);
    background-size: cover;

    cursor: pointer;
}


footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 17);
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 0.5rem;   
}

footer a {
    text-decoration: none;
    color: #852f5d;
    transform: scale(1.4);
    margin-top: 10px;
    transition: 0.5s;
}

footer a:hover{
    text-shadow: 0px 1px 6px rgba(255, 255, 255, 0.5);
    color: #FD5FB4;
    transform: scale(1.8);
}